html, body {
  width: auto;
  text-align: center;
  size: 2em;
  font-family: 'Montserrat', sans-serif;
}

#button {
  background-color: #E5F2F2;
  margin: 10px;
  padding: 5px;
}

#button:hover {
  background-color: #D5E2E2;
}
